// Colors
// Important: Import only in style.scss
:root {
  --kds-colors-black: #000000;
  --kds-colors-white: #ffffff;
  --kds-colors-background-barnaul: #040518;
  --kds-colors-background-belgorod: #11162d;
  --kds-colors-background-bratsk: #1d2341;
  --kds-colors-background-vladivostok: #2a3357;
  --kds-colors-background-perm: #010108e6;
  --kds-colors-text-vladimir: #ffffff;
  --kds-colors-text-volgograd: #fafafa;
  --kds-colors-text-ekaterinburg: #fafafa99;
  --kds-colors-text-voronezh: #b3bfcc;
  --kds-colors-text-istra: #fafafa4d;
  --kds-colors-text-ivanovo: #cccccc;
  --kds-colors-text-kazan: #f95721;
  --kds-colors-text-kaliningrad: #45b7fc;
  --kds-colors-text-kostroma: #000000;
  --kds-colors-text-krasnodar: #626c77;
  --kds-colors-text-krasnoyarsk: #afb5bd;
  --kds-colors-text-kursk: #ed4913;
  --kds-colors-text-lipetsk: #0070e5;
  --kds-colors-icon-moscow: #ffffff;
  --kds-colors-icon-novosibirsk: #ebedee;
  --kds-colors-icon-azov: #fafafa99;
  --kds-colors-icon-murmansk: #b3bfcc;
  --kds-colors-icon-aksai: #fafafa4d;
  --kds-colors-icon-aleksin: #cccccc;
  --kds-colors-icon-orenburg: #000000;
  --kds-colors-icon-penza: #626c77;
  --kds-colors-icon-birsk: #afb5bd;
  --kds-colors-control-norilsk: #000000;
  --kds-colors-control-noginsk: #000000e6;
  --kds-colors-control-pskov: #8c9eb3;
  --kds-colors-control-maikop: #afb5bd;
  --kds-colors-control-pokrov: #ebedee;
  --kds-colors-control-saratov: #bcc3d04d;
  --kds-colors-control-smolensk: #ffffff;
  --kds-colors-control-primorsk: #fafafa;
  --kds-colors-control-tambov: #ffffff59;
  --kds-colors-control-omsk: #ffffff33;
  --kds-colors-control-rostov: #ffffff26;
  --kds-colors-control-tver: #ffffff1a;
  --kds-colors-control-samara: #45b7fc33;
  --kds-colors-control-vladikavkaz: #3c73b9;
  --kds-colors-control-kerch: #5988c4;
  --kds-colors-control-pyatigorsk: #07132eb3;
  --kds-colors-poster-tomsk: #00000080;
  --kds-colors-poster-tula: #51c26d;
  --kds-colors-poster-kaluga: #45b7fc;
  --kds-colors-poster-ufa: #a86ea7;
  --kds-colors-accent-kemerovo: #0070e5;
  --kds-colors-accent-novokuznetsk: #0070e540;
  --kds-colors-accent-amursk: #45b7fc;
  --kds-colors-accent-anapa: #45b7fc40;
  --kds-colors-accent-kirov: #2a9d01;
  --kds-colors-accent-zelenograd: #2a9d0140;
  --kds-colors-accent-klin: #ffb800;
  --kds-colors-accent-koktebel: #ffb80040;
  --kds-colors-accent-kolomna: #f95721;
  --kds-colors-accent-irkutsk: #f9572140;
  --kds-colors-accent-bor: #ed4913;
  --kds-colors-accent-valdai: #ed491340;
  --kds-colors-accent-suzdal: #002094;
  --kds-colors-accent-shuya: #00209440;
  --kds-colors-accent-syzran: #ff0032;
  --kds-colors-accent-orsk: #ff003240;
  --kds-colors-accent-anzherka: #00000000;
}
