:root {
  --kds-shadow-poster: 0px 0px 20px 0px #fff;
  --kds-shadow-lg-poster: 0px 0px 20px 0px #cb60a0;
  --kds-shadow-move-poster: 0px 0px 20px 0px #6ad488;
  --kds-shadow-text: 0px 0px 5px 0px #a2a2a2;
}
