// Important: Import only in style.scss
:root {
  --font-family-wide: "MTSWide", Verdana, Helvetica, Ubuntu, Tahoma, sans-serif;
  --font-family-compact: "MTSCompact", Verdana, Helvetica, Ubuntu, Tahoma, sans-serif;
  --font-family-text: "MTSText", Verdana, Helvetica, Ubuntu, Tahoma, sans-serif;
  --font-family-extended: "MTSExtended", Verdana, Helvetica, Ubuntu, Tahoma, sans-serif;
}
