:root {
  --kds-web-blur-12: blur(6px);
  --kds-web-blur-16: blur(8px);
  --kds-web-blur-18: blur(9px);
  --kds-web-blur-20: blur(10px);
  --kds-web-blur-44: blur(22px);
  --kds-web-blur-70: blur(35px);
  --kds-web-blur-100: blur(50px);
}
