/* MTS Compact Family */
/* 900 */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Black.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Black.ttf") format("truetype");
  font-family: "MTSCompact";
}

/* 700 */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Bold.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Bold.ttf") format("truetype");
  font-family: "MTSCompact";
}

/* 500 */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Medium.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Medium.ttf") format("truetype");
  font-family: "MTSCompact";
}

/* 400 */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Regular.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSCompact-Regular.ttf") format("truetype");
  font-family: "MTSCompact";
}

/* MTS Extended Family */
/* 900 */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Black.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Black.ttf") format("truetype");
  font-family: "MTSExtended";
}

/* 700 */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Bold.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Bold.ttf") format("truetype");
  font-family: "MTSExtended";
}

/* 500 */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Medium.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Medium.ttf") format("truetype");
  font-family: "MTSExtended";
}

/* 400 */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Regular.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSExtended-Regular.ttf") format("truetype");
  font-family: "MTSExtended";
}

/* MTS Text Family */
/* 900 */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Black.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Black.ttf") format("truetype");
  font-family: "MTSText";
}

/* 700 */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Bold.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Bold.ttf") format("truetype");
  font-family: "MTSText";
}

/* 500 */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Medium.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Medium.ttf") format("truetype");
  font-family: "MTSText";
}

/* 400 */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Regular.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSText-Regular.ttf") format("truetype");
  font-family: "MTSText";
}

/* MTS Ultra Extended Family */
/* 900 */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Black.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Black.ttf") format("truetype");
  font-family: "MTSUltraExtended";
}

/* 700 */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Bold.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Bold.ttf") format("truetype");
  font-family: "MTSUltraExtended";
}

/* 300 */
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Light.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Light.ttf") format("truetype");
  font-family: "MTSUltraExtended";
}

/* 400 */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Regular.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSUltraExtended-Regular.ttf") format("truetype");
  font-family: "MTSUltraExtended";
}

/* MTS Wide Family */
/* 900 */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Black.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Black.ttf") format("truetype");
  font-family: "MTSWide";
}

/* 700 */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Bold.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Bold.ttf") format("truetype");
  font-family: "MTSWide";
}

/* 300 */
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Light.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Light.ttf") format("truetype");
  font-family: "MTSWide";
}

/* 500 */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Medium.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Medium.ttf") format("truetype");
  font-family: "MTSWide";
}

/* 400 */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Regular.woff2") format("woff2"),
    url("https://static.kion.ru/kds/fonts/mtsfonts/MTSWide-Regular.ttf") format("truetype");
  font-family: "MTSWide";
}

/* KION KDS Icons */
@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("https://static.kion.ru/kds/fonts/kdsfonts/KDS-Icons.woff2") format("woff2"), url("https://static.kion.ru/kds/fonts/kdsfonts/KDS-Icons.ttf") format("truetype");
  font-family: "KDS-Icons";
}
